<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Prototype System</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="container">
        <main>
            <pre><a href="/">Back to home</a></pre>
            <pre><a href="/product">Go to product list</a></pre>

            {{{body}}}
        </main>
    </div>
    <script src="/js/index.js"></script>
</body>

</html>