<h3>List product</h3>
{{#if product_list}}
<table>
    {{#each product_list}}
    <tr>
        <td style="padding-right: 50px;">{{title}}</td>
        <td><a href="/product/edit/{{id}}">Edit</a></td>
    </tr>
    {{/each}}
</table>
{{else}}
<p>No product available</p>
{{/if}}
</div>